
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>This is the main page.  Where are you going?</h3>
        <br/>
        @Html.ActionLink("Details", "Details") <br/>
        @Html.ActionLink("Edit", "Edit")
    </div>
</body>
</html>
